## Imports

In [6]:
import numpy as np
import pandas as pd
import life_quality_and_government.utils.paths as path

# Load Data

In [7]:
hdi_dir = path.data_raw_dir('HDI_2019.csv')

hdi=pd.read_csv(hdi_dir)  # human development indicators

# View and prepare

In [8]:
hdi.head()

   HDI rank                 Country  Human Development Index (HDI) 2019
0         1                  Norway                               0.957
1         2                 Ireland                               0.955
2         2             Switzerland                               0.955
3         4  Hong Kong, China (SAR)                               0.949
4         4                 Iceland                               0.949

In [9]:
# Dropping extra columns and renaming other ones to match with the standard

try:
    hdi.drop('HDI rank', axis=1, inplace=True)
except:
    print("This columns does not exist")
hdi.rename(columns={"Country":"Country Name", "Human Development Index (HDI) 2019":"HDI"}, inplace=True)
hdi

                 Country Name    HDI
0                      Norway  0.957
1                     Ireland  0.955
2                 Switzerland  0.955
3      Hong Kong, China (SAR)  0.949
4                     Iceland  0.949
..                        ...    ...
184                   Burundi  0.433
185               South Sudan  0.433
186                      Chad  0.398
187  Central African Republic  0.397
188                     Niger  0.394

[189 rows x 2 columns]

In [10]:
hdi.to_csv(path.data_interim_dir('hdi_processed.csv'), index=False)